

body{
    background-color: aqua;
}
.layout{
    display: grid;
    grid-template-columns:repeat(5 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
    "h h h h h"
    "sb1 m m m sb2"
    "f f f f f";
}

.header{
     grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}
.maincontent{
    grid-area: m;

} 
.sidebar2{
    grid-area: sb2;
}
.footer{
    grid-area:f
}

.layout div{
    display: grid;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: medium;
    background-color: rgb(88, 43, 43);
    border: 2px solid black;
    color: antiquewhite;
}