
.navbar ul{
    list-style-type: none;
    background-color:black;
    padding:0px;
    margin:0px;
    overflow: hidden;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 10px;
    display:block;
    text-align: center;

}

.navbar a:hover{
    background-color:  rgb(119, 98, 45)
}

.navbar li{
    float: right;
    margin-right: 100px;
}

.foot{
    color:azure;
    background-color: black;
}
